{% extends 'base.html' %}

{% load staticfiles %}

{% block header_title %}Home{% endblock %}


{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "/static/static-only/css/jumbotron.css" %}">

<div class="jumbotron">
  <div class="container">
    <h1>We 💙 stats!</h1>
    <p>And you probably do too. Especially during GA statistics can be super interesting and often reveal never thought possible perspectives.</p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'statistics' %}" role="button">Jump right in!</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Open Source</h2>
      <p>This project is open souce and we encourage you to contribute! It's maintained on GitHub so that everyone can look at the code and improve it. We can't wait to see you messing with the project. Don't worry, you can't break anything.</p>
      <p><a class="btn btn-default" href="http://github.com/wolfskaempf" role="button">View on GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Live Feedback</h2>
      <p>This new type of feedback is being shown to the Delegates during the GA. This way it can help them improve before the GA has ended improving the overall academic quality and session experience. The results can be made available online so that Delegates can take a closer look after the current GA day or after the session has ended.</p>
    </div>
    <div class="col-md-4">
      <h2>About Us</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">See who's behind this &raquo;</a></p>
    </div>
  </div>


  <a href="https://github.com/wolfskaempf"><img style="position: absolute; top: 50px; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
