{% extends 'base.html' %}

{% load staticfiles %}

{% block header_title %}About{% endblock %}

{% block header_custom %}
<link rel="stylesheet" href="{% static "/static/static-only/css/gh-fork-ribbon.css" %}">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{% static "/static/static-only/css/gh-fork-ribbon.ie.css" %}">
    <![endif]-->
{% endblock %}


{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "/static/static-only/css/jumbotron.css" %}">

<div class="jumbotron">
  <div class="container">
    <h1>We 💙 You!</h1>
    <p>This is our team. If you contributed to the project, feel free to add yourself to this page.</p>
  </div>
</div>


<div class="container">
  <p>
    Will follow.
  </p>
</div>



<div style="position: absolute; top: 50px; right: 0; border: 0" class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
          <a href="https://github.com/wolfskaempf">Fork me on GitHub</a>
      </div>
</div>

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
