{% extends 'base.html' %}

{% load staticfiles %}

{% block header_title %}Statistics{% endblock %}


{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}



<div class="container">
  <div class="row">
        <div class="col-md-7 text-center col-centered">
          <h2>MOTION FOR A RESOLUTION BY {{ committee.longName|upper }}</h1>
          <p class="lead">
            {{ committee.topic }}
          </p>
        </div>

        <hr>

        <div class="col-md-6 well">
          <h3>The last few points</h2>

            {% for point in recent_points %}

            <h4> {{ point.point_resume }} </h4>

            {% endfor %}
        </div>
  </div>
</div>



{% endblock %}
