{% extends 'base.html' %}

{% load staticfiles %}

{% block header_title %}Statistics{% endblock %}


{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block header_custom %}
<meta http-equiv="Refresh" content="5">
{% endblock %}

{% block content %}



<div class="container" style="padding-top: 20px;">
  <div class="row">
        <div class="col-md-7 text-center col-centered">
          <h2>MOTION FOR A RESOLUTION BY {{ committee.longName|upper }}</h1>
          <p class="lead">
            {{ committee.topic }}
          </p>
        </div>

        <hr>

        <div class="col-md-8 col-centered well">

            <table class="table table-striped table-bordered">
              <tr>
                <th>
                  <h4>Committee</h4>
                </th>
                <th>
                  <h4>Résumé</h4>
                </th>
                <th>
                  <h4>Point Type</h4>
                </th>
              </tr>
              {% for point in recent_points %}
              <tr>
                <td>
                  <h4>{{ point.speakingCommittee }}</h4>
                </td>
                <td>
                  <h4>{{ point.pointResume |safe }}</h4>
                </td>
                <td>
                  <h4>{{ point.pointType }}</h4>
                </td>
              </tr>
              {% endfor %}

        </div>
  </div>
</div>


{% endblock %}
