{% extends 'base.html' %}

{% load staticfiles %}

{% block header_title %}Statistics{% endblock %}


{% block navbar %} {% include 'navbar.html' %} {% endblock %}

{% block content %}



<div class="container">
  <div class="row">
    {% for committee in committee %}
      <div class="col-md-4">
        <h1> <a href="{% url 'statistics' committee.pk %}" class="btn btn-lg btn-material-light-blue-500">{{ committee.acronym }}</a></h1>
        <h6>
          {{ committee.longName }}
        </h6>
        <p>
          {{ committee.topic }}
        </p>
      </div>
      {% cycle "" "" "</div><div class='row'>" %}
    {% endfor %}
  </div>
</div>



{% endblock %}
